* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: black;
  color: white;
  font-family: "Suisse Int'l Mono", monospace;
}
canvas {
  background: black;
}

.devdisplay {
  width: calc(100% - 1rem);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0.5rem;
}
.devdisplay > .view {
  position: relative;
  width: calc((100% - 2.5rem) / 6);
  height: unset;
  aspect-ratio: 1/1;
  border: solid 1px white;
}
.devdisplay > .view > canvas {
  width: 100%;
  height: 100%;
  display: block;
}
.devdisplay > .view > label {
  position: absolute;
  top: 0;
  z-index: 1000;
}

#cvd {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#cvd > .canvas {
  width: calc(100% / 5);
  aspect-ratio: 1/1;
}

#controls {
  margin: 0.5rem;
}
#controls .set {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 1rem;
}
#controls .set > * {
  width: calc((100% - 0.5rem) / 2);
}

#controls label {
  display: inline-block;
  width: 9rem;
}
#controls input[type='range'] {
  overflow: hidden;
  height: 1rem;
  -webkit-appearance: none;
  background: transparent;
  margin: 0;
}
#controls input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: white;
}
#controls input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2px;
  height: 1.5rem;
  margin-top: -0.6rem;
  background: red;
  cursor: pointer;
}
